Understanding Data Types in Python

In Python, data types are the classification of data items. Python has several built-in data types, and each type has its own rules and properties. Here are the main data types you'll encounter:

Integers (int): Whole numbers without a fractional part.

In [ ]:
  a = 10
  b = -5

Floating-Point Numbers (float): Numbers with a decimal point.

In [ ]:
c = 3.14
d = -2.718

Strings (str): A sequence of characters enclosed in quotes (single or double).

In [ ]:
e = "hello"
f = 'world'

Booleans (bool): Represents True or False.

In [ ]:
g = True
h = False

Lists (list): Ordered collection of items which can be of different types. Lists are mutable, meaning you can change their content.

In [ ]:
i = [1, 2, 3, "four", 5.0]

Tuples (tuple): Ordered collection of items which can be of different types. Tuples are immutable, meaning once created, their content cannot be changed.

In [ ]:
j = (1, 2, 3, "four", 5.0)

Sets (set): Unordered collections of unique items, enclosed in curly braces.

In [ ]:
y = {1, 2, 3}
z = {'apple', 'banana'}

Dictionaries (dict): Collection of key-value pairs. Each key is unique and used to access its corresponding value.

In [ ]:
k = {"name": "Alice", "age": 25}

Type Conversion in Python

Type conversion is the process of converting one data type to another. This is also known as type casting. 
Python provides several built-in functions for type conversion:

Converting to an Integer (int):

In [ ]:
x = int(3.14)  
y = int("10")

Converting to a Float (float):

In [ ]:
 z = float(10)  # Converts int to float, result is 10.0
 w = float("3.14") # Converts string to float, result is 3.14

Converting to a String (str):

In [ ]:
a = str(10)  # Converts int to string, result is "10"
b = str(3.14)  # Converts float to string, result is "3.14"

Converting to a List (list):

In [ ]:
c = list((1, 2, 3))  # Converts tuple to list, result is [1, 2, 3]
d = list("hello")  # Converts string to list, result is ['h', 'e', 'l', 'l', 'o']

 Practical example to illustrate type conversion:

In [ ]:
# Let's say we have a string representing a number
num_str = "123"

# Convert the string to an integer
num_int = int(num_str)

# Now let's add 10 to this integer
result = num_int + 10

print(result)  # Output will be 133

# Convert the integer back to a string
result_str = str(result)

print(result_str)  # Output will be "133"

- Python has various data types like integers, floats, strings, booleans, lists, tuples, and dictionaries.
- Type conversion allows you to convert a value from one data type to another.
- Use built-in functions like int(), float(), str(), list(), tuple(), and dict() for conversions.